body{
    background-color: goldenrod;
        background-image: url("https://i.pinimg.com/originals/b8/58/02/b85802e551088b3ce4ad50f10c65ad9d.png");
        background-repeat: no-repeat;
        background-size: 550px;
}

button{
    background-color: yellow;
    color: green;
    border-radius: 25px;
    border-color: green;
    font-size: 20px;
}

h4{
    background-color: gold;
    height: 25px;
    width: 300px;
    color: green;
}

span{
    color: white;
    background-color: red;
    height: 27px;
    width: 300px;
}

h2{
    color: green;
    background-color: gold;
    height: 30px;
    width: 300px;
}

canvas
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}
}

#puntuacion{
    margin-left: 20px;
    float: left;
}

#tiempo{
    margin-right: 20px;
    float: right;
}